<div class="container">
  <h2>Detalle</h2>
  <div *ngIf="datos?.id">
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
      <dt>
        Identificación
      </dt>
      <dd>
        {{datos.id}}
      </dd>

    </dl>
    <dl class="dl-horizontal">
      <dt>
        Fecha Pedido
      </dt>
      <dd>
        {{datos.fecha}}
      </dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>
        Dirección Entrega
      </dt>
      <dd>
        {{datos.direccion_entrega}}
      </dd>

    </dl>
    <hr />
    <h4>Linea detalle pedido</h4>
    <!-- Tabla -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Videojuego</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datos.pedido__videojuegos">
          <th scope="row">{{item.videojuego_id}}</th>
          <td>{{item.cantidad}}</td>
          <td>{{item.total}}</td>
        </tr>
      </tbody>
    </table>
    <hr />
    <dl class="dl-horizontal">
      <dt>
        Subtotal pedido
      </dt>
      <dd>
        {{datos.subtotal}}
      </dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>
        Costo Envio del pedido
      </dt>
      <dd>
        {{datos.costo_envio}}
      </dd>

    </dl>
    <dl class="dl-horizontal">
      <dt>
        Impuesto
      </dt>
      <dd>
        {{datos.impuesto}}
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>
        Total
      </dt>
      <dd>
        {{datos.total}}
      </dd>
    </dl>

  </div>
</div>
