<div class="container">
      <ng-template #loading>
    <img class="img-fluid rounded mx-auto d-block " id="loading" src="/assets/Imagenes/loading-gear.gif" alt="Cargando..." style="width: 600px;"/>
  </ng-template>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo Envio</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Total</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <ng-template [ngIf]="datos" [ngIfElse]="loading">
    <tbody>
      <tr *ngFor="let item of datos">
        <th scope="row">{{item.id}}</th>
        <td>{{item.fecha}}</td>
        <td>{{item.tipo_entrega.descripcion}}</td>
        <td>₡ {{item.subtotal}}</td>
        <td>₡ {{item.total}}</td>
        <td><button type="button" [routerLink]="['/pedido/',item.id]" class="btn btn-primary">Detalle</button></td>
      </tr>
    </tbody>
        </ng-template>
  </table>
</div>
