<footer class="page-footer font-small  pt-4" id="footer">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3" id="contenido">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Arcadia Game Store</h6>
        <p><a routerLink="/home/acercade"
            routerLinkActive="active">Contactenos</a></p>

        <p><a routerLink="/home/acercade"
            routerLinkActive="active">Sobre Nosotros</a></p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Siguenos en:</h6>
        <p>
          <a href="#!" id="linkfooter"> <i class="fab fa-twitter fa-lg"></i> Twitter</a>
        </p>
        <p>
          <a href="#!" id="linkfooter"><i class="fab fa-facebook fa-lg"></i> Facebook</a>
        </p>
        <p>
          <a href="#!" id="linkfooter"><i class="fab fa-instagram fa-lg"></i> Instagram</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
        <p>
          Av. Central Juan López del Corral, Provincia de Alajuela, Alajuela
        <p>
          arcadiagamestore@gmail.com
        <p>
          + 506 2444 5609
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">© 2020 Copyright:
          <strong>Arcadia Game Store</strong>
        </p>
      </div>
    </div>
  </div>
</footer>

<footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="scripts/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</footer>
