<body>
  <div class="container">
    <div class="login-form">
      <h2>Crear cuenta</h2>
      <form [formGroup]="formCreate" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
          <label>Identificación:</label>
          <div class="group rounded">
            <input type="text" class="form-control" placeholder="Identificación" required="required"
              formControlName="id">
          </div>
          <div class="col-sm-12">
            <small class="text-danger" *ngIf="errorHandling('id','required')">
              La identificación es requerida
            </small>
          </div>
        </div>
        <div class="form-group">
          <label>Correo:</label>
          <div class="group rounded">
            <input type="email" class="form-control" placeholder="Correo" required="required" formControlName="correo">
          </div>
          <div class="col-sm-12">
            <small class="text-danger" *ngIf="errorHandling('correo','required')">
              El email es requerido
            </small>
            <small class="text-danger" *ngIf="errorHandling('correo','email')">
              Verifique el formato del email
            </small>
          </div>
        </div>
        <!--Nombre-->
        <div class="form-group">
          <label>Nombre completo:</label>
          <div class="group rounded">
            <input type="text" class="form-control" placeholder="Nombre Completo" required="required"
              formControlName="nombre">
          </div>
          <div class="col-sm-12">
            <small class="text-danger" *ngIf="errorHandling('nombre','required')">
              El nombre es requerido
            </small>
          </div>
        </div>
        <!--Telefono -->
        <div class="form-group">
          <label>Telefono:</label>
          <div class="group rounded">
            <input type="number" class="form-control" placeholder="Telefono" required="required"
              formControlName="telefono">
          </div>
          <div class="col-sm-12">
            <small class="text-danger" *ngIf="errorHandling('telefono','required')">
              El telefono es requerido
            </small>
          </div>
        </div>
        <!--Direccion-->
        <div class="form-group">
          <label>Dirección:</label>
          <div class="group rounded">
            <input type="text" class="form-control" placeholder="Dirección" required="required"
              formControlName="direccion">
            <input type="hidden" value="1" formControlName="estado">
          </div>
          <div class="col-sm-12">
            <small class="text-danger" *ngIf="errorHandling('direccion','required')">
              La dirección es requerida
            </small>
          </div>
        </div>
        <button type="submit">Crear Cliente</button>
        <button type="reset" class="btn btn-secondary mt-4" (click)="onReset()">
          Cancelar
        </button>
      </form>
    </div>
  </div>
</body>
