<nav class="navbar navbar-expand-md bg-dark fixed-top navbar-dark" id="header">
  <div class="">
    <a class="navbar-brand" href="/" id="navbar-icon">
      <img src="/assets/Imagenes/LogoEstatico.gif" onmouseout="this.src='/assets/Imagenes/LogoEstatico.gif';"
        onmouseover="this.src='/assets/Imagenes/Logo.gif';" alt="logo" class="mt-n2 mb-n2" style="width:110px;">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- NavBar opciones-->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto" id="navbar-options">
      <div id="button-2" *ngIf="!(isAutenticated)">
        <div id="underline" class="rounded text-light"></div>
        <a class="nav-link text-light" id="button" routerLink="/home/acercade" routerLinkActive="active"> <i
            class="fas fa-info-circle fa-lg"></i> Acerca de nosotros</a>
      </div>

      <!-- Cliente/ -->
      <div id="button-2" *ngIf="esAdmin">
        <div id="underline" class="rounded text-light"></div>
        <a class="nav-link text-light" id="button" routerLink="/cliente/register" routerLinkActive="active">
          <i class="fas fa-plus-circle fa-lg"></i> Clientes</a>
      </div>
      <div id="button-2">
        <div id="underline" class="rounded text-light"></div>
        <a class="nav-link text-light" id="button" routerLink="/videojuego/index"><i
            class="fas fa-clipboard-list fa-lg mr-1"></i>
          Catálogo</a>
      </div>

      <div id="button-2" *ngIf="esAdmin">
        <div id="underline" class="rounded text-light"></div>
        <a class="nav-link text-light" id="button" routerLink="/pedido"><i class="fas fa-box fa-lg mr-1"></i>
          Pedidos</a>
      </div>

      <!-- Usuarios/ -->
      <div *ngIf="esAdmin">
        <ul class="navbar-nav ml-auto ml-md-0">
          <li class="nav-item dropdown" ngbDropdown placement="bottom-right" display="dynamic">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class=" text-light fas fa-tools fa-lg"></i> Mantenimientos
            </a>


            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!--
              <div id="button-2">
                  <div id="underline2" class="rounded"></div>
                  <a class="dropdown-item" id="button" routerLink="/genero"><i
                    class="fas fa-hiking fa-lg mr-1"></i> Generos</a>
              </div>
              <div id="button-2">
                  <div id="underline2" class="rounded"></div>
                  <a class="dropdown-item" id="button" routerLink="/plataforma"><i
                    class="fab fa-playstation fa-lg mr-1"></i> Plataformas</a>
              </div>
              -->

              <div id="button-2">
                <div id="underline2" class="rounded"></div>
                <a class="dropdown-item" id="button" routerLink="/videojuego/list"><i
                    class="fas fa-gamepad fa-lg mr-1"></i> Videojuegos</a>
              </div>

              <!--
              <div id="button-2">
                <div id="underline2" class="rounded"></div>
                <a class="dropdown-item" id="button" routerLink="/marca"><i
                    class="fas fa-motorcycle fa-lg mr-1"></i>Marcas</a>
              </div>

              <div id="button-2">
                <div id="underline2" class="rounded"></div>
                <a class="dropdown-item" id="button" routerLink="/desarrollador"><i
                    class="fas fa-laptop-code fa-lg mr-1"></i> Desarrollador</a>
              </div>

              <div id="button-2">
                <div id="underline2" class="rounded"></div>
                <a class="dropdown-item" id="button" routerLink="/distribuidor"><i
                    class="fas fa-upload fa-lg mr-1"></i> Distribuidor</a>
              </div>

              <div id="button-2">
                <div id="underline2" class="rounded"></div>
                <a class="dropdown-item" id="button" routerLink="/vehiculo"><i
                    class="fas fa-car fa-lg mr-1"></i> Vehiculo</a>
              </div>
              -->

              <div id="button-2">
                <div id="underline2" class="rounded"></div>
                <a class="dropdown-item" id="button" routerLink="/repartidor"><i
                    class="fas fa-shipping-fast fa-lg mr-1"></i> Repartidores</a>
              </div>

            </div>
          </li>
        </ul>
      </div>

      <li class="nav-item" *ngIf="esVendedor">
        <a class="nav-link" routerLink="/pedido/index" routerLinkActive="active" class="nav-link"><i
            class="fas fa-shopping-cart"></i> <span class="badge badge-light">{{qtyItems}}</span> </a>
      </li>

      <!-- Login/Logout -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown" ngbDropdown placement="bottom-right" display="dynamic">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">
            <span>
              <i class="text-light far fa-user fa-lg"></i>
              <i class="text-secondary" *ngIf="isAutenticated"> {{currentUser.usuario.email}}</i>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item" *ngIf="isAutenticated">
              <div class="form-group text-primary">{{currentUser.usuario.nombre}}</div>
              <div class="form-group text-primary">{{currentUser.usuario.email}}</div>
            </div>
            <div class="dropdown-divider"></div>

            <div id="button-2">
              <div id="underline2" class="rounded"></div>
              <a class="nav-link" id="button" [routerLink]="['usuario/login']" *ngIf="!(isAutenticated)"
                routerLinkActive="active">
                <i class="fas fa-key fa-lg"></i> Loguearse</a>
            </div>
            <div id="button-2">
              <div id="underline2" class="rounded"></div>
              <a class="dropdown-item" (click)="logout()" id="button" *ngIf="isAutenticated"
                routerLinkActive="active"><i class="fas fa-sign-out-alt fa-lg"></i>
                Salir</a>

            </div>

          </div>
        </li>
      </ul>
    </ul>
  </div>
  <!-- NavBar opciones-->

</nav>
