<nav class="navbar navbar-expand-md bg-dark fixed-top navbar-dark" id="header">
  <a class="navbar-brand" href="index.html" id="navbar-icon">
    <img src="../../../assets/Imagenes/Logo.gif" alt="logo" class="mt-n2 mb-n2" style="width:110px;">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto" id="navbar-options">
      <div id="button-2">
        <div id="deslizar" class="rounded"></div>
        <a class="nav-link text-light" id="button ">Contactenos</a>
      </div>
      <div id="button-2">
        <div id="deslizar"></div>
        <a class="nav-link text-light" id="button">Acerca de</a>
      </div>
      <li class="nav-item dropdown">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Procesos <img src="https://img.icons8.com/plasticine/24/000000/service.png" />
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <div class="dropdown-item" id="button-2">
              <div id="deslizar"> <img src="https://img.icons8.com/officel/30/000000/calculator.png" /></div>
              <a>Info</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
