<div class="carousel" id="banner">
  <nav>
    <div id="carousel" class="carousel slide pointer-event" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/Imagenes/Banner/monster-hunter-world-standard-banner.png" id="banner" alt="Historia"
            height="680px" width="100%" class="img-fluid">
          <div class="carousel-caption">
            <h4>Los mejores juegos de la ciudad</h4>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/Imagenes/Banner/FFXVBanner.jpg" id="banner" alt="Contactos" height="680px" width="100%"
            class="img-fluid">
          <div class="carousel-caption">
            <h4>Al mejor precio del mercado</h4>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/Imagenes/Banner/Fallout4Banner.jpg" id="banner" alt="Contactos" height="680px" width="100%"
            class="img-fluid">
          <div class="carousel-caption">
            <h4>Acerca de</h4>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </nav>
</div>
<!-- Page Content -->
<div class="container">
  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7 col-sm-12 col-md-6">
      <img src="assets/Imagenes/Logo Pro3.gif" class="img-fluid rounded w-100" alt="img">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5 col-sm-12 col-md-6 my-3">
      <div>
        <h1 class="font-weight-light text-center mb-3"><strong>Lo mejor para el cliente</strong></h1>
      </div>
      <p style="text-align: justify;">
        En <strong>Arcadia Games Store</strong> estamos compremetidos con el cliente para ofrecerle los mejores juegos
        del mercado al mejor precio, tenemos los productos más recientes del mercado para que el cliente pueda disfrutar de los videojuegos de
        última generación para <i class="fab fa-playstation"></i> <strong> PlayStation 5</strong>, <i class="fab fa-xbox"></i>
        <strong> Xbox Series X|S</strong> y <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/38677/preview2.png" style="max-width:18px;"/><strong>Nintendo Switch</strong> además
        incluimos una serie de productos de generaciones pasadas para que puedas seguir exprimiendo al maximo tu antigua consola.
      </p>
      <div></div>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="alert-secondary col-sm-11 col-md-12 mb-3 rounded">
      <h1 class="text-center">Más vendidos</h1>
    </div>
    <hr>
    <div class="col-sm-6 col-md-3" id="juego-container">
      <a title="The Witcher 3: Wild Hunt - Complete Edition" href="#"><img
          src="/assets/Imagenes/Home/TheWtcher3_Cover.jpg" class="img-fluid rounded" alt="img"></a>
      <p class="text-center">The Witcher 3: Wild Hunt - Complete Edition</p>
    </div>

    <div class="col-sm-6 col-md-3" id="juego-container">
      <a title="The Legend Of Zelda: Breath Of The Wild" href="aasda"><img src="/assets/Imagenes/Home/ZeldaBOTW_Cover.jpg"
          class="img-fluid rounded" alt="img"></a>
      <p class="text-center">The Legend Of Zelda: Breath Of The Wild</p>
    </div>

    <div class="col-sm-6 col-md-3" id="juego-container">
      <a title="The Legend Of Zelda Link's Awakening" href="#"><img
          src="/assets/Imagenes/Home/The-Legend-of-Zelda-Links-Awakening_Cover.jpg" class="img-fluid rounded"
          alt="img"></a>
      <p class="text-center">The Legend Of Zelda Link's Awakening</p>
    </div>

    <div class="col-sm-6 col-md-3" id="juego-container">
      <a title="Red Dead Redemption 2" href="#"><img src="/assets/Imagenes/Home/RDR2_Cover.jpg"
          class="img-fluid rounded" alt="img"></a>
      <p class="text-center">Red Dead Redemption 2</p>
    </div>

    <div class="col-sm-6 col-md-3" id="juego-container">
      <a title="Assassin's Creed Odyssey" href="#"><img src="/assets/Imagenes/Home/AssassinsOdyssey_Cover.jpg"
          alt="img"></a>
      <p class="text-center">Assassin's Creed Odyssey</p>
    </div>

    <div class="col-sm-6 col-md-3" id="juego-container">
      <a title="Borderlands 3" href="#"><img src="/assets/Imagenes/Home/Borderlands3.jpg" class="img-fluid rounded"
          alt="img"></a>
      <p class="text-center">Borderlands 3</p>
    </div>

    <div class="col-sm-6 col-md-3" id="juego-container">
      <a title="God Of War" href="#"><img src="/assets/Imagenes/Home/GOW2018_Cover.jpg" class="img-fluid rounded"
          alt="img"></a>
      <p class="text-center">God Of War</p>
    </div>

    <div class="col-sm-6 col-md-3" id="juego-container">
      <a title="Fallout 4" href="#"><img src="/assets/Imagenes/Home/fallout-4-cover.jpg" class="img-fluid rounded"
          alt="img"></a>
      <p>Fallout 4</p>
    </div>
  </div>
  <!-- /.row -->
</div>
