<div class="container my-5">
  <div class="row col-md-12 my-5">
    <div class="col-md-6 mt-5">
      <div>
        <h1>Acerca de nosotros</h1>
        <hr>
        <p class="lead" style="text-align: justify;">
          <strong>Arcadia Game Store</strong> es una tienda especializada en todo tipo de mercancia referente a los
          videojuegos,
          nos destacamos por nuestros comodos precios y la excelente atención y servicio que le ofrecemos a
          nuestros clientes tanto en nuestra pagina web como en nuestra tienda física.
        </p>
        <p class="lead" style="text-align: justify;">
          Estamos compremetidos con el cliente para ofrecerle los mejores juegos
          del mercado al mejor precio, teniendo los productos más recientes del mercado para que el cliente pueda
          disfrutar
          de los videojuegos de
          última generación para <i class="fab fa-playstation"></i> <strong> PlayStation 5</strong>, <i
            class="fab fa-xbox"></i>
          <strong> Xbox Series X|S</strong> y <img
            src="https://d29fhpw069ctt2.cloudfront.net/icon/image/38677/preview2.png" style="max-width:18px;" /><strong>
            Nintendo Switch</strong> además
          incluimos una serie de productos de generaciones pasadas para que puedas seguir exprimiendo al maximo tu
          antigua
          consola.
        </p>
      </div>
    </div>
    <div class="my-5 col-md-6" style="padding-top: 50px;">
      <img class="rounded img-fluid mt-5"
        src="https://media.blogto.com/articles/7a51-201667-videogames-lead.jpg?w=2048&cmd=resize_then_crop&height=1365&quality=70">
    </div>
  </div>
  <h1 class="text-center">Nuestro equipo de trabajo</h1>
  <hr>

  <div class="row">
      <div class="col-md-8 col-sm-12 mt-2">
          <div class="flip-card rounded">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h1 style="padding: 20px;">Steven Moya Suarez</h1>
                <p>Cedula: 901130423</p>
                <p>Telefono: 88145189</p>
                <p>Correo: <a href="stevenmoyita28@gmail.com">stevenmoyita28@gmail.com</a></p>
              </div>
              <div class=" flip-card-back">
                <img src="/assets/Imagenes/FotoMoya.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
            </div>
          </div>
      </div>
        <div class="col-sm-12 col-md-2 mt-2">
        <div class="flip-card rounded">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h1 style="padding: 10px;">Danilo Espinoza Villalta</h1>
              <p>Cedula: 604540916</p>
              <p>Telefono: 86093181</p>
              <p>Correo: <a href="danilox.espinoza@gmail.com"> danilox.espinoza@gmail.com</a></p>
            </div>
            <div class=" flip-card-back">
              <img src="assets/Imagenes/PerroZaguate.jpg" alt="Avatar" style="width:300px;height:300px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


