<body>
  <div class="container">
    <div class="login-form">
      <h2>Crear Desarrollador</h2>
      <form [formGroup]="formCreate" (ngSubmit)="submitForm()" novalidate>
        <!--Descripcion-->
        <div class="form-group">
          <label>Descripción:</label>
          <div class="group rounded">
            <input type="text" class="form-control" placeholder="Descripción" required="required"
              formControlName="descripcion">
          </div>
          <div class="col-sm-12">
            <small class="text-danger" *ngIf="errorHandling('descripcion','required')">
              La descripción es requerida
            </small>
          </div>
        </div>

        <button type="submit">Crear Desarrollador</button>
        <button type="reset" class="btn btn-secondary mt-4" (click)="onReset()">
          Cancelar
        </button>
        <button class="btn btn-secondary mt-4" (click)="onBack()">
          Atras
        </button>
      </form>
    </div>
  </div>
</body>
